<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/css/nifty.min.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/css/demo/nifty-demo-icons.min.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/Syte.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/loading.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/plugins/datatables/media/css/dataTables.bootstrap.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css")" rel="stylesheet" />

</head>
<body>
    <div class="loader-wrapper" style="display:none">
        <div class="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="@Url.Action("Index","Home")" class="navbar-brand">
                        <img src="@Url.Content("~/Content/img/logo1.png")" alt="PRC" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">PRC</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Navigation toogle button-->
                        <!--Notification dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    </ul>
                    <ul class="nav navbar-top-links pull-right">

                        <!--Language selector-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="dropdown">
                            <a id="demo-lang-switch" class="lang-selector dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="lang-selected">
                                    Operacion
                                </span>
                            </a>

                            <!--Language selector menu-->
                            <ul class="head-list dropdown-menu">
                                <li>
                                    <!--France-->
                                    <a href="#">
                                        <img class="lang-flag" src="@Url.Content("~/Content/img/rd.png")" style="width:25%;" alt="Italy">
                                        <span class="lang-id">PRD</span>
                                        <span class="lang-name">Dominicana</span>
                                    </a>
                                </li>
                                <li>
                                    <!--France-->
                                    <a href="#">
                                        <img class="lang-flag" src="@Url.Content("~/Content/img/pr.png")" style="width:25%;" alt="Italy">
                                        <span class="lang-id">PR</span>
                                        <span class="lang-name">Puerto Rico</span>
                                    </a>
                                </li>
                                <li>
                                    <!--France-->
                                    <a href="#">
                                        <img class="lang-flag" src="@Url.Content("~/Content/img/pn.png")" style="width:25%;" alt="Italy">
                                        <span class="lang-id">PR</span>
                                        <span class="lang-name">Panamá</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--End language selector-->
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <i class="demo-pli-male ic-user"></i>
                                </span>
                                <div class="username hidden-xs">@Session["UserName"]</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title" class="transparent-nav-container">
                    <div class="transparent-nav-child-brand">
                        <h1 class="page-header text-overflow">PRC</h1>
                    </div>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content" style="margin:7px;">
                    @RenderBody()
                </div>
                <!--===================================================-->
                <!--End page content-->

            </div>
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">

                                    <!--Category name-->
                                    <li class="list-header">Opciones</li>

                                    <li class="active-link">
                                        <a href="@Url.Action("Index", "Assignment")">
                                            <i class="fa fa-thumb-tack"></i>
                                            <span class="menu-title">
                                                <strong>Asignar</strong>
                                            </span>
                                        </a>
                                    </li>

                                    <li class="active-link">
                                        <a href="@Url.Action("Assigned", "Account")">
                                            <i class="fa fa-check"></i>
                                            <span class="menu-title">
                                                <strong>Cuentas Asignadas</strong>
                                            </span>
                                        </a>
                                    </li>

                                    <li class="active-link">
                                        <a href="@Url.Action("Index", "Supervisor")">
                                            <i class="fa fa-users"></i>
                                            <span class="menu-title">
                                                <strong>Estructura Ventas</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="active-link">
                                        <a href="@Url.Action("Documentation", "Account")" target="_blank">
                                            <i class="fa fa-file-text"></i>
                                            <span class="menu-title">
                                                <strong>Documentación</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="active-link">
                                        <a href="@Url.Action("Potenciales", "Account")" target="_blank">
                                            <i class="fa fa-files-o"></i>
                                            <span class="menu-title">
                                                <strong>Potenciales</strong>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>



        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

            <!-- Visible when footer positions are fixed -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="show-fixed pull-right">
                You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
            </div>



            <!-- Visible when footer positions are static -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="hide-fixed pull-right pad-rgt">
                <strong>Paginas Amarilla</strong>
            </div>



            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <p class="pad-lft">&#0169; 2017 Caribe Media</p>



        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->
        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>

    <script src="@Url.Content("~/Content/js/jquery-2.2.4.min.js")"></script>

    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Content/js/nifty.min.js")"></script>

    <script src="@Url.Content("~/Scripts/Utils.js")"></script>

    <script src="@Url.Content("~/Content/plugins/datatables/media/js/jquery.dataTables.min.js")"></script>

    <script src="@Url.Content("~/Content/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>

    @RenderSection("scripts", false)
</body>
</html>
